<header>
  {{ content.field_baner }}
</header>

<div class="node-content">
  {{ content.field_page_image_type }}

  {{ content.body }}
</div>

{#<h3>{{ new_icon|raw }} {{ 'Welcome to Nature theme!'|t }}</h3>#}

<h3>{{ new_icon|raw }} Welcome to Nature theme!</h3>


<br>

<div class="team-members-section">
  {{ drupal_block('views_block:team_members-block_1') }}
</div>

<div class="node-content-bottom">
  <h3>Contact</h3>
  {{ drupal_entity('webform', 'contact') }}
</div>
