<header>
  <h1>{{ label }}</h1>
</header>

<div class="node-content">
  {{ content.body }}

  {{ content.field_page_image_type }}

  {{ content.field_other_text }}
{#  {{ dump(content.field_other_text) }}#}
</div>

<div class="custum-data">
  <img src="https://superherotar.framiq.com/assets/examples/superherotar01.png">
  <h4>Test1</h4>

  <img src="https://superherotar.framiq.com/assets/examples/superherotar02.png">
  <h4>Test2</h4>

  <img src="https://superherotar.framiq.com/assets/examples/superherotar03.png">
  <h4>Test2</h4>

  <img src="https://superherotar.framiq.com/assets/examples/superherotar04.png">
  <h4>Test3</h4>

  <img src="https://superherotar.framiq.com/assets/examples/superherotar05.png">
  <h4>Test4</h4>
</div>
