<header>
{#  <h4>  {{ new_icon|raw }} {{ label }}</h4>#}

  {{ content.field_baner }}

</header>

<div class="node-content">
  {{ content.body }}

  {{ content.field_page_image_type }}
</div>

<div class="work-with-us">
  {{ content.field_work_with_us }}
</div>

<div class="node-content-bottom">
  <h3>Contact</h3>
  {{ drupal_entity('webform', 'contact') }}
</div>
