
<div id="page-wrapper" class="page-wrapper">
  <!-- Page top region -->
  {{ page.page_top }}

  <!-- Loader Section -->
  <div class="loader_bg">
    <div class="loader">
      <img src="{{ directory }}/images/loadingleafs.gif" alt="#" />
    </div>
  </div>

  <div id="page">
    {% if page.header or page.primary_menu %}
      <header id="header" class="site-header" role="banner">
        <div class="site-header__inner">
          {% if page.primary_menu %}
            <nav id="header-nav" class="header-nav">
              {{ page.primary_menu }}
            </nav>
          {% endif %}
        </div>
      </header>
    {% endif %}

    <div id="main-wrapper" class="layout-main-wrapper layout-container">

      <div id="main" class="layout-main">
        <div class="main-content">
          <a id="main-content" tabindex="-1"></a>

          <div class="main-content__container container">
            {{ page.highlighted }}
            {{ page.breadcrumb }}
            {% if page.sidebar %}
              <div class="sidebar-grid grid-full">
                <main role="main" class="site-main">
                  {{ page.content_above }}

{#                  #}{# Check if we are on a node page and the node title variable is set. #}
{#                  {% if node is not empty and node_title is not empty %}#}
{#                    <h1>{{ node_title|raw }}</h1>#}
{#                  {% else %}#}
{#                    <h1>{{ title }}</h1>#}
{#                  {% endif %}#}

                  {{ page.content }}

                </main>
                {{ page.sidebar }}
              </div>
            {% else %}
              <main role="main">
                {{ page.content_above }}

                {# Check if we are on a node page and the node title variable is set. #}
                {% if node is not empty and node_title is not empty %}
                  <h1>{{ node_title|raw }}</h1>
                {% else %}
                  <h1>{{ title }}</h1>
                {% endif %}

                {{ page.content }}





              </main>
            {% endif %}
            {{ page.content_below }}
            <!-- Content bottom region -->
            {{ page.content_bottom }}
          </div>
        </div>
      </div>
    </div>


    <h3>{{ test_icon|raw }} {{ test_title|raw }}</h3>

    {{ note_title }}


    <footer class="site-footer">
      <div class="site-footer__inner container">




        {{ page.footer }}
      </div>
      <div class="created-by">
        Created by <a href="https://github.com/danstoyanov" target="_blank">Dan Stoyanov</a>
      </div>
    </footer>

    <div class="overlay" data-drupal-selector="overlay"></div>
  </div>

  <!-- Page bottom region -->
  {{ page.page_bottom }}

  {% if page.bottom %}
    {{ page.bottom }}
  {% endif %}

  {{ attach_library('nature/global-styling') }}
</div>
